aiogram==3.20.0.post0
aiohttp==3.11.18

asyncpg==0.30.0
fastapi==0.116.1
uvicorn[standard]==0.35.0

python-dotenv==1.1.1
httpx==0.28.1
redis==5.0.1
pytz==2024.1

qrcode[pil]==8.2
Pillow==11.3.0

orjson==3.11.2
aiofiles==24.1.0
